dfe-nfe-services/src/main/resources/wsdl/nfe/mg/hom/inutilization.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:tns="http://www.portalfiscal.inf.br/nfe/wsdl/NFeInutilizacao4"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  name="NFeInutilizacao4"
                  targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/NFeInutilizacao4">
    <wsdl:types>
        <xs:schema xmlns:tns="http://www.portalfiscal.inf.br/nfe/wsdl/NFeInutilizacao4"
                   xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
                   targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/NFeInutilizacao4"
                   version="1.0">
            <xs:element name="nfeDadosMsg">
                <xs:complexType mixed="true">
                    <xs:sequence>
                        <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="nfeResultMsg" type="tns:nFeInutilizacao4Result"/>
            <xs:complexType name="nFeInutilizacao4Result">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="retInutNFe" type="xs:anyType"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="nfeInutilizacaoNFResponse">
        <wsdl:part element="tns:nfeResultMsg" name="nfeResultMsg">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="nfeInutilizacaoNF">
        <wsdl:part element="tns:nfeDadosMsg" name="nfeDadosMsg">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="NFeInutilizacao4Soap">
        <wsdl:operation name="nfeInutilizacaoNF">
            <wsdl:input message="tns:nfeInutilizacaoNF" name="nfeInutilizacaoNF">
            </wsdl:input>
            <wsdl:output message="tns:nfeInutilizacaoNFResponse" name="nfeInutilizacaoNFResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="NFeInutilizacao4SoapBinding" type="tns:NFeInutilizacao4Soap">
        <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="nfeInutilizacaoNF">
            <soap12:operation soapAction="http://www.portalfiscal.inf.br/nfe/wsdl/NFeInutilizacao4/nfeInutilizacaoNF"
                              style="document"/>
            <wsdl:input name="nfeInutilizacaoNF">
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="nfeInutilizacaoNFResponse">
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="NFeInutilizacao4">
        <wsdl:port binding="tns:NFeInutilizacao4SoapBinding" name="NFeInutilizacao4Soap12">
            <soap12:address location="http://hnfe.fazenda.mg.gov.br/nfe2/services/NFeInutilizacao4"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>