stubs/src/main/resources/wsdl/cte/ms/hom/query_situation.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3.payara-p3 (2.4.3.payara-maintenance-a5c1c68; 2019-06-17T14:04:38+0200) JAXWS-RI/2.3.2.payara-p2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3.payara-p3 (2.4.3.payara-maintenance-a5c1c68; 2019-06-17T14:04:38+0200) JAXWS-RI/2.3.2.payara-p2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. -->
<definitions
        xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
        xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
        xmlns:tns="http://www.portalfiscal.inf.br/cte/wsdl/CteConsulta" xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://www.portalfiscal.inf.br/cte/wsdl/CteConsulta"
        name="CteConsulta">
    <types>
        <xs:schema xmlns:tns="http://www.portalfiscal.inf.br/cte/wsdl/CteConsulta"
                   xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" version="1.0"
                   targetNamespace="http://www.portalfiscal.inf.br/cte/wsdl/CteConsulta">
            <xs:element name="cteCabecMsg" type="tns:CTeCabecMsg"/>
            <xs:element name="cteConsultaCTResult">
                <xs:complexType mixed="true">
                    <xs:sequence>
                        <xs:any processContents="lax" namespace="##other" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="cteDadosMsg">
                <xs:complexType mixed="true">
                    <xs:sequence>
                        <xs:any processContents="lax" namespace="##other" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="CTeCabecMsg">
                <xs:sequence>
                    <xs:element name="cUF" type="xs:string" minOccurs="0"/>
                    <xs:element name="versaoDados" type="xs:string" minOccurs="0"/>
                </xs:sequence>
                <xs:anyAttribute namespace="##other" processContents="skip"/>
            </xs:complexType>
        </xs:schema>
    </types>
    <message name="cteConsultaCT">
        <part name="cteDadosMsg" element="tns:cteDadosMsg"/>
        <part name="cteCabecMsg" element="tns:cteCabecMsg"/>
    </message>
    <message name="cteConsultaCTResponse">
        <part name="cteConsultaCTResult" element="tns:cteConsultaCTResult"/>
        <part name="cteCabecMsg" element="tns:cteCabecMsg"/>
    </message>
    <portType name="CteConsultaSoap12">
        <operation name="cteConsultaCT" parameterOrder="cteDadosMsg cteCabecMsg">
            <input wsam:Action="http://www.portalfiscal.inf.br/cte/wsdl/CteConsulta/cteConsultaCT"
                   message="tns:cteConsultaCT"/>
            <output wsam:Action="http://www.portalfiscal.inf.br/cte/wsdl/CteConsulta/CteConsultaSoap12/cteConsultaCTResponse"
                    message="tns:cteConsultaCTResponse"/>
        </operation>
    </portType>
    <binding name="CteConsultaSoap12Binding" type="tns:CteConsultaSoap12">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="cteConsultaCT">
            <soap12:operation soapAction="http://www.portalfiscal.inf.br/cte/wsdl/CteConsulta/cteConsultaCT"/>
            <input>
                <soap12:body use="literal" parts="cteDadosMsg"/>
                <soap12:header message="tns:cteConsultaCT" part="cteCabecMsg" use="literal"/>
            </input>
            <output>
                <soap12:body use="literal" parts="cteConsultaCTResult"/>
                <soap12:header message="tns:cteConsultaCTResponse" part="cteCabecMsg" use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="CteConsulta">
        <port name="CteConsultaSoap12" binding="tns:CteConsultaSoap12Binding">
            <soap12:address location="https://homologacao.cte.ms.gov.br:443/ws/CteConsulta"/>
        </port>
    </service>
</definitions>