stubs/src/main/resources/wsdl/cte4/mt/prod/status_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions
    
     targetNamespace="http://www.portalfiscal.inf.br/cte/wsdl/CTeStatusServicoV4"
     xmlns="http://schemas.xmlsoap.org/wsdl/"
     xmlns:tns="http://www.portalfiscal.inf.br/cte/wsdl/CTeStatusServicoV4"
     xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
     xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
     xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
     xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
     xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:s="http://www.w3.org/2001/XMLSchema"
    >
    <types>
        <s:schema elementFormDefault="qualified" targetNamespace="http://www.portalfiscal.inf.br/cte/wsdl/CTeStatusServicoV4">
            <s:element name="cteDadosMsg">
                <s:complexType mixed="true">
                    <s:sequence>
                        <s:any/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="cteStatusServicoCTResult">
                <s:complexType mixed="true">
                    <s:sequence>
                        <s:any/>
                    </s:sequence>
                </s:complexType>
            </s:element>
        </s:schema>
    </types>
    <message name="cteStatusServicoCTSoap12In">
        <part name="cteDadosMsg" element="tns:cteDadosMsg"/>
    </message>
    <message name="cteStatusServicoCTSoap12Out">
        <part name="cteStatusServicoCTResult" element="tns:cteStatusServicoCTResult"/>
    </message>
    <portType name="CteStatusServicoSoap12">
        <operation name="cteStatusServicoCT">
            <input message="tns:cteStatusServicoCTSoap12In"/>
            <output message="tns:cteStatusServicoCTSoap12Out"/>
        </operation>
    </portType>
    <binding name="CteStatusServicoSoap12" type="tns:CteStatusServicoSoap12">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="cteStatusServicoCT">
            <soap12:operation style="document" soapAction="http://www.portalfiscal.inf.br/cte/wsdl/CteStatusServicoV4/CTeStatusServicoV4"
                 soapActionRequired="false"/>
            <input>
                <soap12:body use="literal"/>
            </input>
            <output>
                <soap12:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="CTeStatusServicoV4">
        <port name="CteStatusServicoSoap12" binding="tns:CteStatusServicoSoap12">
            <soap12:address location="https://cte.sefaz.mt.gov.br/ctews2/services/CTeStatusServicoV4"/>
        </port>
    </service>
</definitions>
