dfe-nfe-services/src/main/resources/wsdl/nfe/ms/hom/authorization.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. -->
<definitions
        xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
        xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
        xmlns:tns="http://www.portalfiscal.inf.br/nfe/wsdl/NFeAutorizacao4" xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns="http://schemas.xmlsoap.org/wsdl/"
        targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/NFeAutorizacao4" name="NFeAutorizacao4">
    <types>
        <xs:schema xmlns:tns="http://www.portalfiscal.inf.br/nfe/wsdl/NFeAutorizacao4"
                   xmlns:xs="http://www.w3.org/2001/XMLSchema"
                   xmlns="http://www.portalfiscal.inf.br/nfe/wsdl/NFeAutorizacao4" elementFormDefault="qualified"
                   version="1.0"
                   targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/NFeAutorizacao4">
            <xs:element name="nfeCabecMsg">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="cUF" type="xs:string" minOccurs="0"/>
                        <xs:element name="versaoDados" type="xs:string" minOccurs="0"/>
                    </xs:sequence>
                    <xs:anyAttribute namespace="##other" processContents="skip"/>
                </xs:complexType>
            </xs:element>

            <xs:element name="nfeDadosMsg">
                <xs:complexType mixed="true">
                    <xs:sequence>
                        <xs:any processContents="lax" namespace="##other" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="nfeDadosMsgZip" type="xs:string"/>

            <xs:element name="nfeResultMsg">
                <xs:complexType mixed="true">
                    <xs:sequence>
                        <xs:any processContents="lax" namespace="##other" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </types>
    <message name="nfeAutorizacaoLoteZIP">
        <part name="nfeDadosMsgZip" element="tns:nfeDadosMsgZip"/>
    </message>
    <message name="nfeAutorizacaoLoteZIPResponse">
        <part name="nfeResultMsg" element="tns:nfeResultMsg"/>
    </message>
    <message name="nfeAutorizacaoLote">
        <part name="nfeDadosMsg" element="tns:nfeDadosMsg"/>
    </message>
    <message name="nfeAutorizacaoLoteResponse">
        <part name="nfeResultMsg" element="tns:nfeResultMsg"/>
    </message>
    <portType name="NFeAutorizacaoSoap">
        <operation name="nfeAutorizacaoLoteZIP">
            <input wsam:Action="http://www.portalfiscal.inf.br/nfe/wsdl/NFeAutorizacao4/nfeAutorizacaoLoteZIP"
                   message="tns:nfeAutorizacaoLoteZIP"/>
            <output wsam:Action="http://www.portalfiscal.inf.br/nfe/wsdl/NFeAutorizacao4/NFeAutorizacaoSoap/nfeAutorizacaoLoteZIPResponse"
                    message="tns:nfeAutorizacaoLoteZIPResponse"/>
        </operation>
        <operation name="nfeAutorizacaoLote">
            <input wsam:Action="http://www.portalfiscal.inf.br/nfe/wsdl/NFeAutorizacao4/nfeAutorizacaoLote"
                   message="tns:nfeAutorizacaoLote"/>
            <output wsam:Action="http://www.portalfiscal.inf.br/nfe/wsdl/NFeAutorizacao4/NFeAutorizacaoSoap/nfeAutorizacaoLoteResponse"
                    message="tns:nfeAutorizacaoLoteResponse"/>
        </operation>
    </portType>
    <binding name="nfeAutorizacaoSoap12Binding" type="tns:NFeAutorizacaoSoap">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="nfeAutorizacaoLoteZIP">
            <soap12:operation
                    soapAction="http://www.portalfiscal.inf.br/nfe/wsdl/NFeAutorizacao4/nfeAutorizacaoLoteZIP"/>
            <input>
                <soap12:body use="literal"/>
            </input>
            <output>
                <soap12:body use="literal"/>
            </output>
        </operation>
        <operation name="nfeAutorizacaoLote">
            <soap12:operation soapAction="http://www.portalfiscal.inf.br/nfe/wsdl/NFeAutorizacao4/nfeAutorizacaoLote"/>
            <input>
                <soap12:body use="literal"/>
            </input>
            <output>
                <soap12:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="NFeAutorizacao4">
        <port name="nfeAutorizacaoSoap12" binding="tns:nfeAutorizacaoSoap12Binding">
            <soap12:address location="https://hom.nfe.sefaz.ms.gov.br:443/ws/NFeAutorizacao4"/>
        </port>
    </service>
</definitions>