nfe-services/src/main/resources/wsdl/nfe/am/prod/inutilization.wsdl

<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:tns="http://www.portalfiscal.inf.br/nfe/wsdl/NFeInutilizacao4"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/NFeInutilizacao4">
    <wsdl:types>
        <s:schema elementFormDefault="qualified"
                  targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/NFeInutilizacao4">
            <s:element name="nfeDadosMsg">
                <s:complexType mixed="true">
                    <s:sequence>
                        <s:any/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="nfeResultMsg" nillable="true">
                <s:complexType mixed="true">
                    <s:sequence>
                        <s:any/>
                    </s:sequence>
                </s:complexType>
            </s:element>
        </s:schema>
    </wsdl:types>
    <wsdl:message name="nfeInutilizacaoNFSoapIn">
        <wsdl:part name="nfeDadosMsg" element="tns:nfeDadosMsg"/>
    </wsdl:message>
    <wsdl:message name="nfeInutilizacaoNFSoapOut">
        <wsdl:part name="nfeInutilizacaoNFResult" element="tns:nfeResultMsg"/>
    </wsdl:message>
    <wsdl:portType name="NfeInutilizacao4Soap">
        <wsdl:operation name="nfeInutilizacaoNF">
            <wsdl:input message="tns:nfeInutilizacaoNFSoapIn"/>
            <wsdl:output message="tns:nfeInutilizacaoNFSoapOut"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="NfeInutilizacao4Soap" type="tns:NfeInutilizacao4Soap">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="nfeInutilizacaoNF">
            <soap:operation style="document"
                            soapAction="http://www.portalfiscal.inf.br/nfe/wsdl/NFeInutilizacao4/nfeInutilizacaoNF"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="NfeInutilizacao4Soap12" type="tns:NfeInutilizacao4Soap">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="nfeInutilizacaoNF">
            <soap12:operation style="document"
                              soapAction="http://www.portalfiscal.inf.br/nfe/wsdl/NFeInutilizacao4/nfeInutilizacaoNF"
                              soapActionRequired="false"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="NfeInutilizacao4">
        <wsdl:port name="NfeInutilizacao4Soap12" binding="tns:NfeInutilizacao4Soap12">
            <soap12:address location="https://nfe.sefaz.am.gov.br/services2/services/NfeInutilizacao4"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
