stubs/src/main/resources/wsdl/cte/pr/prod/reception_gtve.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions targetNamespace='http://www.portalfiscal.inf.br/cte/wsdl/CteRecepcaoGTVe'
                  xmlns:http='http://schemas.xmlsoap.org/wsdl/http/'
                  xmlns:s='http://www.w3.org/2001/XMLSchema' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'
                  xmlns:tns='http://www.portalfiscal.inf.br/cte/wsdl/CteRecepcaoGTVe'
                  xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/'>
    <wsdl:documentation xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/'>Serviço destinado à recepção de mensagens de
        GTVe (modelo 64)
    </wsdl:documentation>
    <wsdl:types>
        <s:schema elementFormDefault='qualified'
                  targetNamespace='http://www.portalfiscal.inf.br/cte/wsdl/CteRecepcaoGTVe'>
            <s:element name='cteDadosMsg' type='s:string'/>
            <s:element name='cteRecepcaoGTVeResult'>
                <s:complexType mixed='true'>
                    <s:sequence>
                        <s:any/>
                    </s:sequence>
                </s:complexType>
            </s:element>
        </s:schema>
    </wsdl:types>
    <wsdl:message name='cteRecepcaoGTVeSoap12In'>
        <wsdl:part element='tns:cteDadosMsg' name='cteDadosMsg'></wsdl:part>
    </wsdl:message>
    <wsdl:message name='cteRecepcaoGTVeSoap12Out'>
        <wsdl:part element='tns:cteRecepcaoGTVeResult' name='cteRecepcaoGTVeResult'></wsdl:part>
    </wsdl:message>
    <wsdl:portType name='CteRecepcaoGTVeSoap12'>
        <wsdl:operation name='cteRecepcaoGTVe'>
            <wsdl:documentation xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/'>Recepção de mensagens de GTVe (modelo
                64)
            </wsdl:documentation>
            <wsdl:input message='tns:cteRecepcaoGTVeSoap12In'></wsdl:input>
            <wsdl:output message='tns:cteRecepcaoGTVeSoap12Out'></wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name='CteRecepcaoGTVeSoap12' type='tns:CteRecepcaoGTVeSoap12'>
        <soap12:binding transport='http://schemas.xmlsoap.org/soap/http'/>
        <wsdl:operation name='cteRecepcaoGTVe'>
            <soap12:operation soapAction='http://www.portalfiscal.inf.br/cte/wsdl/CteRecepcaoGTVe/cteRecepcaoGTVe'
                              style='document'/>
            <wsdl:input>
                <soap12:body use='literal'/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use='literal'/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name='CteRecepcaoGTVe'>
        <wsdl:documentation xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/'>Serviço destinado à recepção de mensagens
            de GTVe (modelo 64)
        </wsdl:documentation>
        <wsdl:port binding='tns:CteRecepcaoGTVeSoap12' name='CteRecepcaoGTVeServicePort'>
            <soap12:address location='https://cte.fazenda.pr.gov.br/cte/CteRecepcaoGTVe'/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>