dfe-stubs/src/main/resources/wsdl/cte/ms/prod/return_reception.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3.payara-p3 (2.4.3.payara-maintenance-a5c1c68; 2019-06-17T14:04:38+0200) JAXWS-RI/2.3.2.payara-p2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. -->
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:tns="http://www.portalfiscal.inf.br/cte/wsdl/CteRetRecepcao"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://www.portalfiscal.inf.br/cte/wsdl/CteRetRecepcao">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Serviço destinado a devolver o resultado do
        processamento do lote de CT-e.
    </wsdl:documentation>
    <wsdl:types>
        <s:schema elementFormDefault="qualified"
                  targetNamespace="http://www.portalfiscal.inf.br/cte/wsdl/CteRetRecepcao">
            <s:element name="cteDadosMsg">
                <s:complexType mixed="true">
                    <s:sequence>
                        <s:any/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="cteRetRecepcaoResult">
                <s:complexType mixed="true">
                    <s:sequence>
                        <s:any/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="cteCabecMsg" type="tns:CTeCabecMsg"/>
            <s:complexType name="CTeCabecMsg">
                <s:sequence>
                    <s:element minOccurs="0" maxOccurs="1" name="cUF" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="versaoDados" type="s:string"/>
                </s:sequence>
                <s:anyAttribute/>
            </s:complexType>
        </s:schema>
    </wsdl:types>
    <wsdl:message name="cteRetRecepcaoSoap12In">
        <wsdl:part name="cteDadosMsg" element="tns:cteDadosMsg"/>
    </wsdl:message>
    <wsdl:message name="cteRetRecepcaoSoap12Out">
        <wsdl:part name="cteRetRecepcaoResult" element="tns:cteRetRecepcaoResult"/>
    </wsdl:message>
    <wsdl:message name="cteRetRecepcaocteCabecMsg">
        <wsdl:part name="cteCabecMsg" element="tns:cteCabecMsg"/>
    </wsdl:message>
    <wsdl:portType name="CteRetRecepcaoSoap12">
        <wsdl:operation name="cteRetRecepcao">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Consulta Processamento de Lote de CT-e
            </wsdl:documentation>
            <wsdl:input message="tns:cteRetRecepcaoSoap12In"/>
            <wsdl:output message="tns:cteRetRecepcaoSoap12Out"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CteRetRecepcaoSoap12" type="tns:CteRetRecepcaoSoap12">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="cteRetRecepcao">
            <soap12:operation soapAction="http://www.portalfiscal.inf.br/cte/wsdl/CteRetRecepcao/cteRetRecepcao"
                              style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
                <soap12:header message="tns:cteRetRecepcaocteCabecMsg" part="cteCabecMsg" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
                <soap12:header message="tns:cteRetRecepcaocteCabecMsg" part="cteCabecMsg" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="CteRetRecepcao">
        <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Serviço destinado a devolver o resultado do
            processamento do lote de CT-e.
        </wsdl:documentation>
        <wsdl:port name="CteRetRecepcaoSoap12" binding="tns:CteRetRecepcaoSoap12">
            <soap12:address location="https://producao.cte.ms.gov.br:443/ws/CteRetRecepcao"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>