dfe-stubs/src/main/resources/wsdl/cte4/pr/hom/query_situation.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://www.portalfiscal.inf.br/cte/wsdl/CTeConsultaV4"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  targetNamespace="http://www.portalfiscal.inf.br/cte/wsdl/CTeConsultaV4">
    <wsdl:types>
        <s:schema xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://www.portalfiscal.inf.br/cte/wsdl/CTeConsultaV4"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  elementFormDefault="qualified"
                  targetNamespace="http://www.portalfiscal.inf.br/cte/wsdl/CTeConsultaV4">

            <s:element name="cteDadosMsg">

                <s:complexType mixed="true">

                    <s:sequence>

                        <s:any/>

                    </s:sequence>

                </s:complexType>

            </s:element>

            <s:element name="cteConsultaCTResult">

                <s:complexType mixed="true">

                    <s:sequence>

                        <s:any/>

                    </s:sequence>

                </s:complexType>

            </s:element>

        </s:schema>
    </wsdl:types>
    <wsdl:message name="cteConsultaCTSoap12In">
        <wsdl:part element="tns:cteDadosMsg" name="cteDadosMsg">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="cteConsultaCTSoap12Out">
        <wsdl:part element="tns:cteConsultaCTResult" name="cteConsultaCTResult">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="CTeConsultaV4Soap12">
        <wsdl:operation name="cteConsultaCT">
            <wsdl:input message="tns:cteConsultaCTSoap12In">
            </wsdl:input>
            <wsdl:output message="tns:cteConsultaCTSoap12Out">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CTeConsultaV4Soap12" type="tns:CTeConsultaV4Soap12">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="cteConsultaCT">
            <soap12:operation soapAction="http://www.portalfiscal.inf.br/cte/wsdl/CTeConsultaV4/cteConsultaCT"
                              style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="CTeConsultaV4">
        <wsdl:port binding="tns:CTeConsultaV4Soap12" name="CTeConsultaV4Soap12">
            <soap12:address location="http://10.15.208.46:8180/cte4/CTeConsultaV4"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>