stubs/src/main/resources/wsdl/cte4/pr/hom/reception_os.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.portalfiscal.inf.br/cte/wsdl/CTeRecepcaoOSV4" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.portalfiscal.inf.br/cte/wsdl/CTeRecepcaoOSV4">
  <wsdl:types>
<s:schema xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.portalfiscal.inf.br/cte/wsdl/CTeRecepcaoOSV4" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" elementFormDefault="qualified" targetNamespace="http://www.portalfiscal.inf.br/cte/wsdl/CTeRecepcaoOSV4">
      
  <s:element name="cteDadosMsg" type="s:string"/>
      
  <s:element name="cteRecepcaoOSResult">
        
    <s:complexType mixed="true">
          
      <s:sequence>
            
        <s:any/>
          
      </s:sequence>
        
    </s:complexType>
      
  </s:element>
    
</s:schema>
  </wsdl:types>
  <wsdl:message name="cteRecepcaoOSSoap12Out">
    <wsdl:part element="tns:cteRecepcaoOSResult" name="cteRecepcaoOSResult">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="cteRecepcaoOSSoap12In">
    <wsdl:part element="tns:cteDadosMsg" name="cteDadosMsg">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="CTeRecepcaoOSV4Soap12">
    <wsdl:operation name="cteRecepcaoOS">
      <wsdl:input message="tns:cteRecepcaoOSSoap12In">
    </wsdl:input>
      <wsdl:output message="tns:cteRecepcaoOSSoap12Out">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CTeRecepcaoOSV4Soap12" type="tns:CTeRecepcaoOSV4Soap12">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="cteRecepcaoOS">
      <soap12:operation soapAction="http://www.portalfiscal.inf.br/cte/wsdl/CTeRecepcaoOSV4/cteRecepcaoOS" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CTeRecepcaoOSV4">
    <wsdl:port binding="tns:CTeRecepcaoOSV4Soap12" name="CTeRecepcaoOSV4Soap12">
      <soap12:address location="http://10.15.208.46:8180/cte4/CTeRecepcaoOSV4"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>