dfe-stubs/src/main/resources/wsdl/cte4/pr/prod/reception_sync.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://www.portalfiscal.inf.br/cte/wsdl/CTeRecepcaoSincV4"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  targetNamespace="http://www.portalfiscal.inf.br/cte/wsdl/CTeRecepcaoSincV4">
    <wsdl:types>
        <s:schema xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://www.portalfiscal.inf.br/cte/wsdl/CTeRecepcaoSincV4"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  elementFormDefault="qualified"
                  targetNamespace="http://www.portalfiscal.inf.br/cte/wsdl/CTeRecepcaoSincV4">

            <s:element name="cteDadosMsg">

                <s:complexType mixed="true">

                    <s:sequence>

                        <s:any/>

                    </s:sequence>

                </s:complexType>

            </s:element>

            <s:element name="cteRecepcaoResult">

                <s:complexType mixed="true">

                    <s:sequence>

                        <s:any/>

                    </s:sequence>

                </s:complexType>

            </s:element>

        </s:schema>
    </wsdl:types>
    <wsdl:message name="cteRecepcaoSincSoap12In">
        <wsdl:part element="tns:cteDadosMsg" name="cteDadosMsg">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="cteRecepcaoSincSoap12Out">
        <wsdl:part element="tns:cteRecepcaoResult" name="cteRecepcaoResult">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="CTeRecepcaoSincV4Soap12">
        <wsdl:operation name="cteRecepcao">
            <wsdl:input message="tns:cteRecepcaoSincSoap12In">
            </wsdl:input>
            <wsdl:output message="tns:cteRecepcaoSincSoap12Out">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CTeRecepcaoSincV4Soap12" type="tns:CTeRecepcaoSincV4Soap12">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="cteRecepcao">
            <soap12:operation soapAction="http://www.portalfiscal.inf.br/cte/wsdl/CTeRecepcaoSincV4/cteRecepcao"
                              style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="CTeRecepcaoSincV4">
        <wsdl:port binding="tns:CTeRecepcaoSincV4Soap12" name="CTeRecepcaoSincV4Soap12">
            <soap12:address location="http://10.15.208.47:8080/cte4/CTeRecepcaoSincV4"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>