dfe-stubs/src/main/resources/wsdl/cte/mt/prod/event.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions

        xmlns:tns="http://www.portalfiscal.inf.br/cte/wsdl/CteRecepcaoEvento"
        xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
        xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
        xmlns:s="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://www.portalfiscal.inf.br/cte/wsdl/CteRecepcaoEvento"
        xmlns="http://schemas.xmlsoap.org/wsdl/"
>
    <types>
        <s:schema elementFormDefault="qualified"
                  targetNamespace="http://www.portalfiscal.inf.br/cte/wsdl/CteRecepcaoEvento">
            <s:element name="cteDadosMsg">
                <s:complexType mixed="true">
                    <s:sequence>
                        <s:any/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="cteRecepcaoEventoResult">
                <s:complexType mixed="true">
                    <s:sequence>
                        <s:any/>
                    </s:sequence>
                </s:complexType>
            </s:element>
        </s:schema>
    </types>
    <message name="cteRecepcaoEventoSoap12In">
        <part name="cteDadosMsg" element="tns:cteDadosMsg"/>
    </message>
    <message name="cteRecepcaoEventoSoap12Out">
        <part name="cteRecepcaoEventoResult" element="tns:cteRecepcaoEventoResult"/>
    </message>
    <portType name="CteRecepcaoEventoSoap12">
        <operation name="cteRecepcaoEvento">
            <input message="tns:cteRecepcaoEventoSoap12In"/>
            <output message="tns:cteRecepcaoEventoSoap12Out"/>
        </operation>
    </portType>
    <binding name="CteRecepcaoEventoSoap12" type="tns:CteRecepcaoEventoSoap12">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="cteRecepcaoEvento">
            <soap12:operation style="document"
                              soapAction="http://www.portalfiscal.inf.br/cte/wsdl/CteRecepcaoEvento/cteRecepcaoEvento"
                              soapActionRequired="false"/>
            <input>
                <soap12:body use="literal"/>
            </input>
            <output>
                <soap12:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="CteRecepcaoEvento">
        <port name="CteRecepcaoEventoSoap12" binding="tns:CteRecepcaoEventoSoap12">
            <soap12:address location="https://cte.sefaz.mt.gov.br/ctews2/services/CteRecepcaoEvento"/>
        </port>
    </service>
</definitions>
