dfe-stubs/src/main/resources/wsdl/cte/mt/prod/reception_sync.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions

        xmlns:tns="http://www.portalfiscal.inf.br/cte/wsdl/CteRecepcaoSinc"
        xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
        xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
        xmlns:s="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://www.portalfiscal.inf.br/cte/wsdl/CteRecepcaoSinc"
        xmlns="http://schemas.xmlsoap.org/wsdl/"
>
    <types>
        <s:schema elementFormDefault="qualified"
                  targetNamespace="http://www.portalfiscal.inf.br/cte/wsdl/CteRecepcaoSinc">
            <s:element name="cteDadosMsg" type="s:string"/>
            <s:element name="cteRecepcaoSincResult">
                <s:complexType mixed="true">
                    <s:sequence>
                        <s:any/>
                    </s:sequence>
                </s:complexType>
            </s:element>
        </s:schema>
    </types>
    <message name="cteRecepcaoSincSoap12In">
        <part name="cteDadosMsg" element="tns:cteDadosMsg"/>
    </message>
    <message name="cteRecepcaoSincSoap12Out">
        <part name="cteRecepcaoSincResult" element="tns:cteRecepcaoSincResult"/>
    </message>
    <portType name="CteRecepcaoSincSoap12">
        <operation name="cteRecepcaoSinc">
            <input message="tns:cteRecepcaoSincSoap12In"/>
            <output message="tns:cteRecepcaoSincSoap12Out"/>
        </operation>
    </portType>
    <binding name="CteRecepcaoSincSoap12" type="tns:CteRecepcaoSincSoap12">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="cteRecepcaoSinc">
            <soap12:operation style="document"
                              soapAction="http://www.portalfiscal.inf.br/cte/wsdl/CteRecepcaoSinc/cteRecepcaoSinc"
                              soapActionRequired="false"/>
            <input>
                <soap12:body use="literal"/>
            </input>
            <output>
                <soap12:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="CteRecepcaoSinc">
        <port name="CteRecepcaoSincSoap12" binding="tns:CteRecepcaoSincSoap12">
            <soap12:address location="https://cte.sefaz.mt.gov.br/ctews2/services/CteRecepcaoSinc"/>
        </port>
    </service>
</definitions>
