dfe-stubs/src/main/resources/wsdl/cte4/mt/hom/reception_sync.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions

        xmlns:tns="http://www.portalfiscal.inf.br/cte/wsdl/CTeRecepcaoSincV4"
        xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
        xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
        xmlns:s="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://www.portalfiscal.inf.br/cte/wsdl/CTeRecepcaoSincV4"
        xmlns="http://schemas.xmlsoap.org/wsdl/"
>
    <types>
        <s:schema elementFormDefault="qualified"
                  targetNamespace="http://www.portalfiscal.inf.br/cte/wsdl/CTeRecepcaoSincV4">
            <s:element name="cteDadosMsg" type="s:string"/>
            <s:element name="cteRecepcaoResult">
                <s:complexType mixed="true">
                    <s:sequence>
                        <s:any/>
                    </s:sequence>
                </s:complexType>
            </s:element>
        </s:schema>
    </types>
    <message name="cteRecepcaoSoap12In">
        <part name="cteDadosMsg" element="tns:cteDadosMsg"/>
    </message>
    <message name="cteRecepcaoSoap12Out">
        <part name="cteRecepcaoResult" element="tns:cteRecepcaoResult"/>
    </message>
    <portType name="CTeRecepcaoSincV4Soap12">
        <operation name="cteRecepcao">
            <input message="tns:cteRecepcaoSoap12In"/>
            <output message="tns:cteRecepcaoSoap12Out"/>
        </operation>
    </portType>
    <binding name="CTeRecepcaoSincV4Soap12" type="tns:CTeRecepcaoSincV4Soap12">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="cteRecepcao">
            <soap12:operation style="document"
                              soapAction="http://www.portalfiscal.inf.br/cte/wsdl/CTeRecepcaoSincV4/cteRecepcao"
                              soapActionRequired="false"/>
            <input>
                <soap12:body use="literal"/>
            </input>
            <output>
                <soap12:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="CTeRecepcaoSincV4">
        <port name="CTeRecepcaoSincV4Soap12" binding="tns:CTeRecepcaoSincV4Soap12">
            <soap12:address location="https://cte.sefaz.mt.gov.br/ctews2/services/CTeRecepcaoSincV4"/>
        </port>
    </service>
</definitions>
