stubs/src/main/resources/wsdl/nfe/mg/prod/authorization.wsdl

<!--  Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.2-1 git-revision#dbe58a8.  -->
<!--  Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 2.3.2-1 git-revision#dbe58a8.  -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
             xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
             xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
             xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
             xmlns:tns="http://www.portalfiscal.inf.br/nfe/wsdl/NFeAutorizacao4"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/"
             targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/NFeAutorizacao4" name="NFeAutorizacao4">
    <types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" version="1.0"
                   targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/NFeAutorizacao4">
            <xs:element name="nfeDadosMsg">
                <xs:complexType mixed="true">
                    <xs:sequence>
                        <xs:any processContents="lax" namespace="##other" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="nfeDadosMsgZip" type="xs:string"/>
            <xs:element name="nfeResultMsg">
                <xs:complexType mixed="true">
                    <xs:sequence>
                        <xs:any processContents="lax" namespace="##other" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </types>
    <message name="nfeAutorizacaoLote">
        <part name="nfeDadosMsg" element="tns:nfeDadosMsg"/>
    </message>
    <message name="nfeAutorizacaoLoteResponse">
        <part name="nfeAutorizacaoLoteResult" element="tns:nfeResultMsg"/>
    </message>
    <message name="nfeAutorizacaoLoteZip">
        <part name="nfeDadosMsgZip" element="tns:nfeDadosMsgZip"/>
    </message>
    <message name="nfeAutorizacaoLoteZipResponse">
        <part name="nfeAutorizacaoLoteZipResult" element="tns:nfeResultMsg"/>
    </message>
    <portType name="NFeAutorizacao4Soap">
        <operation name="nfeAutorizacaoLote">
            <input wsam:Action="http://www.portalfiscal.inf.br/nfe/wsdl/NFeAutorizacao4/nfeAutorizacaoLote"
                   message="tns:nfeAutorizacaoLote"/>
            <output wsam:Action="http://www.portalfiscal.inf.br/nfe/wsdl/NFeAutorizacao4/NFeAutorizacao4Soap/nfeAutorizacaoLoteResponse"
                    message="tns:nfeAutorizacaoLoteResponse"/>
        </operation>
        <operation name="nfeAutorizacaoLoteZip">
            <input wsam:Action="http://www.portalfiscal.inf.br/nfe/wsdl/NFeAutorizacao4/nfeAutorizacaoLoteZip"
                   message="tns:nfeAutorizacaoLoteZip"/>
            <output wsam:Action="http://www.portalfiscal.inf.br/nfe/wsdl/NFeAutorizacao4/NFeAutorizacao4Soap/nfeAutorizacaoLoteZipResponse"
                    message="tns:nfeAutorizacaoLoteZipResponse"/>
        </operation>
    </portType>
    <binding name="NFeAutorizacao4SoapBinding" type="tns:NFeAutorizacao4Soap">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="nfeAutorizacaoLote">
            <soap12:operation soapAction="http://www.portalfiscal.inf.br/nfe/wsdl/NFeAutorizacao4/nfeAutorizacaoLote"/>
            <input>
                <soap12:body use="literal"/>
            </input>
            <output>
                <soap12:body use="literal"/>
            </output>
        </operation>
        <operation name="nfeAutorizacaoLoteZip">
            <soap12:operation
                    soapAction="http://www.portalfiscal.inf.br/nfe/wsdl/NFeAutorizacao4/nfeAutorizacaoLoteZip"/>
            <input>
                <soap12:body use="literal"/>
            </input>
            <output>
                <soap12:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="NFeAutorizacao4">
        <port name="NFeAutorizacao4Soap" binding="tns:NFeAutorizacao4SoapBinding">
            <soap12:address location="http://nfe.fazenda.mg.gov.br:80/nfe2/services/NFeAutorizacao4"/>
        </port>
    </service>
</definitions>