stubs/src/main/resources/wsdl/cte4/mt/hom/reception_os.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.portalfiscal.inf.br/cte/wsdl/CTeRecepcaoOSV4" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.portalfiscal.inf.br/cte/wsdl/CTeRecepcaoOSV4" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.portalfiscal.inf.br/cte/wsdl/CTeRecepcaoOSV4">
      <s:element name="cteDadosMsg" type="s:string"/>	  
      <s:element name="cteRecepcaoOSResult">
        <s:complexType mixed="true">
          <s:sequence>
            <s:any/>
          </s:sequence>
        </s:complexType>
      </s:element>      
    </s:schema>
  </wsdl:types>
  <wsdl:message name="cteRecepcaoOSSoap12Out">
    <wsdl:part name="cteRecepcaoOSResult" element="tns:cteRecepcaoOSResult">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="cteRecepcaoOSSoap12In">
    <wsdl:part name="cteDadosMsg" element="tns:cteDadosMsg">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="CteRecepcaoOSSoap12">
    <wsdl:operation name="cteRecepcaoOS">
      <wsdl:input message="tns:cteRecepcaoOSSoap12In">
    </wsdl:input>
      <wsdl:output message="tns:cteRecepcaoOSSoap12Out">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CteRecepcaoOSSoap12" type="tns:CteRecepcaoOSSoap12">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="cteRecepcaoOS">
      <soap12:operation soapAction="http://www.portalfiscal.inf.br/cte/wsdl/CTeRecepcaoOS/CTeRecepcaoOSV4" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CTeRecepcaoOSV4">
    <wsdl:port name="CteRecepcaoOSSoap12" binding="tns:CteRecepcaoOSSoap12">
      <soap12:address location="https://homologacao.sefaz.mt.gov.br/ctews/services/CTeRecepcaoOSV4"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
