wsdl/cte/mt/hom/reception_gtve.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions
    
     targetNamespace="http://www.portalfiscal.inf.br/cte/wsdl/CTeRecepcaoGTVe"
     xmlns="http://schemas.xmlsoap.org/wsdl/"
     xmlns:tns="http://www.portalfiscal.inf.br/cte/wsdl/CTeRecepcaoGTVe"
     xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
     xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
     xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
     xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
     xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:s="http://www.w3.org/2001/XMLSchema"
    >
    <types>
        <s:schema elementFormDefault="qualified" targetNamespace="http://www.portalfiscal.inf.br/cte/wsdl/CTeRecepcaoGTVe">
            <s:element name="cteDadosMsg" type="s:string"/>
            <s:element name="cteRecepcaoGTVeResult">
                <s:complexType mixed="true">
                    <s:sequence>
                        <s:any/>
                    </s:sequence>
                </s:complexType>
            </s:element>
        </s:schema>
    </types>
    <message name="cteRecepcaoGTVeSoap12In">
        <part name="cteDadosMsg" element="tns:cteDadosMsg"/>
    </message>
    <message name="cteRecepcaoGTVeSoap12Out">
        <part name="cteRecepcaoGTVeResult" element="tns:cteRecepcaoGTVeResult"/>
    </message>
    <portType name="CTeRecepcaoGTVeSoap12">
        <operation name="cteRecepcaoGTVe">
            <input message="tns:cteRecepcaoGTVeSoap12In"/>
            <output message="tns:cteRecepcaoGTVeSoap12Out"/>
        </operation>
    </portType>
    <binding name="CTeRecepcaoGTVeSoap12" type="tns:CTeRecepcaoGTVeSoap12">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="cteRecepcaoGTVe">
            <soap12:operation style="document" soapAction="http://www.portalfiscal.inf.br/cte/wsdl/CTeRecepcaoGTVe/cteRecepcaoGTVe"
                 soapActionRequired="false"/>
            <input>
                <soap12:body use="literal"/>
            </input>
            <output>
                <soap12:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="cteRecepcaoGTVe">
        <port name="CTeRecepcaoGTVeSoap12" binding="tns:CTeRecepcaoGTVeSoap12">
            <soap12:address location="https://homologacao.sefaz.mt.gov.br/ctews2/services/cteRecepcaoGTVe"/>
        </port>
    </service>
</definitions>
