stubs/src/main/resources/wsdl/cte/pr/hom/reception_sync.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions targetNamespace='http://www.portalfiscal.inf.br/cte/wsdl/CteRecepcaoSinc' xmlns:http='http://schemas.xmlsoap.org/wsdl/http/' xmlns:mime='http://schemas.xmlsoap.org/wsdl/mime/' xmlns:s='http://www.w3.org/2001/XMLSchema' xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' xmlns:soapenc='http://schemas.xmlsoap.org/soap/encoding/' xmlns:tm='http://microsoft.com/wsdl/mime/textMatching/' xmlns:tns='http://www.portalfiscal.inf.br/cte/wsdl/CteRecepcaoSinc' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/'>
 <wsdl:types>
  <s:schema elementFormDefault='qualified' targetNamespace='http://www.portalfiscal.inf.br/cte/wsdl/CteRecepcaoSinc'>
   <s:element name='cteDadosMsg'>
    <s:complexType mixed='true'>
     <s:sequence>
      <s:any/>
     </s:sequence>
    </s:complexType>
   </s:element>
   <s:element name='cteRecepcaoResult'>
    <s:complexType mixed='true'>
     <s:sequence>
      <s:any/>
     </s:sequence>
    </s:complexType>
   </s:element>
   <s:element name='cteCabecMsg' type='tns:cteCabecMsg'/>
   <s:complexType name='cteCabecMsg'>
    <s:sequence>
     <s:element maxOccurs='1' minOccurs='0' name='cUF' type='s:string'/>
     <s:element maxOccurs='1' minOccurs='0' name='versaoDados' type='s:string'/>
    </s:sequence>
    <s:anyAttribute/>
   </s:complexType>
  </s:schema>
 </wsdl:types>
 <wsdl:message name='cteRecepcaoSincSoap12Out'>
  <wsdl:part element='tns:cteRecepcaoResult' name='cteRecepcaoResult'></wsdl:part>
 </wsdl:message>
 <wsdl:message name='cteRecepcaoSincSoap12In'>
  <wsdl:part element='tns:cteDadosMsg' name='cteDadosMsg'></wsdl:part>
 </wsdl:message>
 <wsdl:message name='cteRecepcaoSinccteCabecMsg'>
  <wsdl:part element='tns:cteCabecMsg' name='cteCabecMsg'></wsdl:part>
 </wsdl:message>
 <wsdl:portType name='CteRecepcaoSincSoap12'>
  <wsdl:operation name='cteRecepcaoSinc'>
   <wsdl:input message='tns:cteRecepcaoSincSoap12In'></wsdl:input>
   <wsdl:output message='tns:cteRecepcaoSincSoap12Out'></wsdl:output>
  </wsdl:operation>
 </wsdl:portType>
 <wsdl:binding name='CteRecepcaoSincSoap12' type='tns:CteRecepcaoSincSoap12'>
  <soap12:binding transport='http://schemas.xmlsoap.org/soap/http'/>
  <wsdl:operation name='cteRecepcaoSinc'>
   <soap12:operation soapAction='http://www.portalfiscal.inf.br/cte/wsdl/CteRecepcaoSinc/cteRecepcaoSinc' style='document'/>
   <wsdl:input>
    <soap12:body use='literal'/>
    <soap12:header message='tns:cteRecepcaoSinccteCabecMsg' part='cteCabecMsg' use='literal'></soap12:header>
   </wsdl:input>
   <wsdl:output>
    <soap12:body use='literal'/>
    <soap12:header message='tns:cteRecepcaoSinccteCabecMsg' part='cteCabecMsg' use='literal'></soap12:header>
   </wsdl:output>
  </wsdl:operation>
 </wsdl:binding>
 <wsdl:service name='CteRecepcaoSinc'>
  <wsdl:port binding='tns:CteRecepcaoSincSoap12' name='CteRecepcaoSincServicePort'>
   <soap12:address location='https://homologacao.cte.fazenda.pr.gov.br/cte/CteRecepcaoSinc'/>
  </wsdl:port>
 </wsdl:service>
</wsdl:definitions>