stubs/src/main/resources/wsdl/nfe/mg/hom/authorization.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions name="NFeAutorizacao4" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/NFeAutorizacao4"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:tns="http://www.portalfiscal.inf.br/nfe/wsdl/NFeAutorizacao4"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:types>
        <xs:schema elementFormDefault="qualified"
                   targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/NFeAutorizacao4" version="1.0"
                   xmlns:tns="http://www.portalfiscal.inf.br/nfe/wsdl/NFeAutorizacao4"
                   xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:element name="nfeDadosMsg">
                <xs:complexType mixed="true">
                    <xs:sequence>
                        <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="nfeDadosMsgZip">
                <xs:complexType mixed="true">
                    <xs:sequence>
                        <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="nfeResultMsg" type="tns:nFeAutorizacao4LoteResult"/>
            <xs:complexType name="nFeAutorizacao4LoteResult">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="retEnviNFe" type="xs:anyType"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="nfeAutorizacaoLoteZipResponse">
        <wsdl:part element="tns:nfeResultMsg" name="nfeResultMsg">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="nfeAutorizacaoLoteZip">
        <wsdl:part element="tns:nfeDadosMsgZip" name="nfeDadosMsgZip">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="nfeAutorizacaoLoteResponse">
        <wsdl:part element="tns:nfeResultMsg" name="nfeResultMsg">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="nfeAutorizacaoLote">
        <wsdl:part element="tns:nfeDadosMsg" name="nfeDadosMsg">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="NFeAutorizacao4Soap">
        <wsdl:operation name="nfeAutorizacaoLote">
            <wsdl:input message="tns:nfeAutorizacaoLote" name="nfeAutorizacaoLote">
            </wsdl:input>
            <wsdl:output message="tns:nfeAutorizacaoLoteResponse" name="nfeAutorizacaoLoteResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="nfeAutorizacaoLoteZip">
            <wsdl:input message="tns:nfeAutorizacaoLoteZip" name="nfeAutorizacaoLoteZip">
            </wsdl:input>
            <wsdl:output message="tns:nfeAutorizacaoLoteZipResponse" name="nfeAutorizacaoLoteZipResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="NFeAutorizacao4SoapBinding" type="tns:NFeAutorizacao4Soap">
        <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="nfeAutorizacaoLote">
            <soap12:operation soapAction="http://www.portalfiscal.inf.br/nfe/wsdl/NFeAutorizacao4/nfeAutorizacaoLote"
                              style="document"/>
            <wsdl:input name="nfeAutorizacaoLote">
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="nfeAutorizacaoLoteResponse">
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="nfeAutorizacaoLoteZip">
            <soap12:operation soapAction="http://www.portalfiscal.inf.br/nfe/wsdl/NFeAutorizacao4/nfeAutorizacaoLoteZip"
                              style="document"/>
            <wsdl:input name="nfeAutorizacaoLoteZip">
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="nfeAutorizacaoLoteZipResponse">
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="NFeAutorizacao4">
        <wsdl:port binding="tns:NFeAutorizacao4SoapBinding" name="NFeAutorizacao4Soap12">
            <soap12:address location="http://hnfe.fazenda.mg.gov.br/nfe2/services/NFeAutorizacao4"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>