stubs/src/main/resources/wsdl/nfe/mg/hom/query_register.wsdl

<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:tns="http://www.portalfiscal.inf.br/nfe/wsdl/CadConsultaCadastro4"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="CadConsultaCadastro4"
                  targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/CadConsultaCadastro4">
    <wsdl:types>
        <xs:schema xmlns:tns="http://www.portalfiscal.inf.br/nfe/wsdl/CadConsultaCadastro4"
                   xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
                   targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/CadConsultaCadastro4" version="1.0">
            <xs:element name="consultaCadastro4Result" type="tns:consultaCadastro4Result"/>
            <xs:element name="nfeCabecMsg" type="tns:nfeCabecMsg"/>
            <xs:element name="nfeDadosMsg">
                <xs:complexType mixed="true">
                    <xs:sequence>
                        <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="consultaCadastro4Result">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="retConsCad" type="xs:anyType"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="nfeCabecMsg">
                <xs:sequence>
                    <xs:element minOccurs="0" name="cUF" type="xs:string"/>
                    <xs:element minOccurs="0" name="versaoDados" type="xs:string"/>
                </xs:sequence>
                <xs:anyAttribute namespace="##other" processContents="skip"/>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="consultaCadastro">
        <wsdl:part element="tns:nfeDadosMsg" name="nfeDadosMsg"></wsdl:part>
        <wsdl:part element="tns:nfeCabecMsg" name="nfeCabecMsg"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="consultaCadastroResponse">
        <wsdl:part element="tns:consultaCadastro4Result" name="consultaCadastro4Result"></wsdl:part>
        <wsdl:part element="tns:nfeCabecMsg" name="nfeCabecMsg"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="CadConsultaCadastro4Soap">
        <wsdl:operation name="consultaCadastro" parameterOrder="nfeDadosMsg nfeCabecMsg">
            <wsdl:input message="tns:consultaCadastro" name="consultaCadastro"></wsdl:input>
            <wsdl:output message="tns:consultaCadastroResponse" name="consultaCadastroResponse"></wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CadConsultaCadastro4SoapBinding" type="tns:CadConsultaCadastro4Soap">
        <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="consultaCadastro">
            <soap12:operation soapAction="http://www.portalfiscal.inf.br/nfe/wsdl/CadConsultaCadastro4/consultaCadastro"
                              style="document"/>
            <wsdl:input name="consultaCadastro">
                <soap12:header message="tns:consultaCadastro" part="nfeCabecMsg" use="literal"></soap12:header>
                <soap12:body parts="nfeDadosMsg" use="literal"/>
            </wsdl:input>
            <wsdl:output name="consultaCadastroResponse">
                <soap12:header message="tns:consultaCadastroResponse" part="nfeCabecMsg" use="literal"></soap12:header>
                <soap12:body parts="consultaCadastro4Result" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="CadConsultaCadastro4">
        <wsdl:port binding="tns:CadConsultaCadastro4SoapBinding" name="CadConsultaCadastro4Soap">
            <soap12:address location="http://hnfe.fazenda.mg.gov.br/nfe2/services/CadConsultaCadastro4"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>