stubs/src/main/resources/wsdl/nfe/mg/hom/status_service.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions name="NFeStatusServico4" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/NFeStatusServico4"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:tns="http://www.portalfiscal.inf.br/nfe/wsdl/NFeStatusServico4"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:types>
        <xs:schema elementFormDefault="qualified"
                   targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/NFeStatusServico4" version="1.0"
                   xmlns:tns="http://www.portalfiscal.inf.br/nfe/wsdl/NFeStatusServico4"
                   xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:element name="nfeDadosMsg">
                <xs:complexType mixed="true">
                    <xs:sequence>
                        <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="nfeResultMsg" type="tns:nFeStatusServico4Result"/>
            <xs:complexType name="nFeStatusServico4Result">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="retConsStatServ" type="xs:anyType"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="nfeStatusServicoNFResponse">
        <wsdl:part element="tns:nfeResultMsg" name="nfeResultMsg">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="nfeStatusServicoNF">
        <wsdl:part element="tns:nfeDadosMsg" name="nfeDadosMsg">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="NFeStatusServico4Soap">
        <wsdl:operation name="nfeStatusServicoNF">
            <wsdl:input message="tns:nfeStatusServicoNF" name="nfeStatusServicoNF">
            </wsdl:input>
            <wsdl:output message="tns:nfeStatusServicoNFResponse" name="nfeStatusServicoNFResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="NFeStatusServico4SoapBinding" type="tns:NFeStatusServico4Soap">
        <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="nfeStatusServicoNF">
            <soap12:operation soapAction="http://www.portalfiscal.inf.br/nfe/wsdl/NFeStatusServico4/nfeStatusServicoNF"
                              style="document"/>
            <wsdl:input name="nfeStatusServicoNF">
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="nfeStatusServicoNFResponse">
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="NFeStatusServico4">
        <wsdl:port binding="tns:NFeStatusServico4SoapBinding" name="NFeStatusServico4Soap12">
            <soap12:address location="http://hnfe.fazenda.mg.gov.br/nfe2/services/NFeStatusServico4"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>