dfe-stubs/src/main/resources/wsdl/nfce/go/hom/event_cancel.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.0-wls122140-b221116.0611 svn-revision#e80cc14f7d7c7ce39446b2db53387251ca55e7a7. -->
<definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://www.portalfiscal.inf.br/nfe/wsdl/NFeRecepcaoEvento4"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             name="NFeRecepcaoEvento4"
             targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/NFeRecepcaoEvento4">
    <types>
        <xs:schema xmlns:tns="http://www.portalfiscal.inf.br/nfe/wsdl/NFeRecepcaoEvento4"
                   xmlns:xs="http://www.w3.org/2001/XMLSchema"
                   targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/NFeRecepcaoEvento4" version="1.0"
                   elementFormDefault="qualified">
            <xs:element name="nfeResultMsg">
                <xs:complexType mixed="true">
                    <xs:sequence>
                        <xs:any/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="nfeDadosMsg">
                <xs:complexType mixed="true">
                    <xs:sequence>
                        <xs:any/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </types>
    <message name="NFeRecepcaoEvento4Service_nfeRecepcaoEvento">
        <part element="tns:nfeDadosMsg" name="nfeDadosMsg"/>
    </message>
    <message name="NFeRecepcaoEvento4Service_nfeRecepcaoEventoResponse">
        <part element="tns:nfeResultMsg" name="nfeRecepcaoEventoResult"/>
    </message>
    <portType name="NFeRecepcaoEvento4Service">
        <operation name="nfeRecepcaoEvento">
            <input message="tns:NFeRecepcaoEvento4Service_nfeRecepcaoEvento"/>
            <output message="tns:NFeRecepcaoEvento4Service_nfeRecepcaoEventoResponse"/>
        </operation>
    </portType>
    <binding name="NFeRecepcaoEvento4ServiceBinding" type="tns:NFeRecepcaoEvento4Service">
        <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="nfeRecepcaoEvento">
            <soap12:operation
                    soapAction="http://www.portalfiscal.inf.br/nfe/wsdl/NFeRecepcaoEvento4/nfeRecepcaoEvento"/>
            <input>
                <soap12:body parts="nfeDadosMsg" use="literal"/>
            </input>
            <output>
                <soap12:body parts="nfeRecepcaoEventoResult" use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="NFeRecepcaoEvento4">
        <port binding="tns:NFeRecepcaoEvento4ServiceBinding" name="NFeRecepcaoEvento4ServicePort">
            <soap12:address location="http://homolog.sefaz.go.gov.br:80/nfe/services/NFeRecepcaoEvento4"/>
        </port>
    </service>
</definitions>